extends layout

block main

        
  nav(id="bundlenavi").col-md-3

    div.panel.panel-default
        div.panel-heading Oskari version
        div.panel-body
            select
                each val in api
                    option= val.version

    each bundles, ns in api[0].api
        div.panel.panel-default
            div.panel-heading= ns
            div.panel-body

            ul
                each index, bundle in bundles
                    li= bundle

  div.col-md-9(id="bundlecontent")!= log

  script(type="text/javascript" src=assetFingerprint("/js/apidoc.js"))