extends layout

block main
    link(rel="stylesheet" type="text/css" href=assetFingerprint("/css/apidoc.css"))

        
    nav(id="bundlenavi").col-md-3

        div.panel.panel-default
            div.panel-heading Oskari version
            div.panel-body
                select(id="version-selector")
                    each val in api
                        option= val.version

        each bundles, ns in api[0].api
            div.panel.panel-default.generated
                div.panel-heading= ns
                div.panel-body
                    ul
                        each index, bundle in bundles
                            li.bundlenavi(data-path="#{ns}/#{bundle}")= bundle

    div.col-md-9(id="bundlecontent")!= log