extends layout

block main
    link(rel="stylesheet" type="text/css" href=assetFingerprint("/css/apidoc.css"))


    nav(id="bundlenavi").col-md-4

        div.panel.panel-default.version-panel
            div.panel-heading Oskari version
            div.panel-body
                select(id="version-selector", data-type="events")
                    each val in versions
                        option= val

                label
                    input(type="checkbox", id="rpc-filter")

                    |  RPC only

        div.panel.panel-default.generated
            div.panel-heading Events
                label
                    input(type="checkbox", id="desc-filter", checked="checked")

                    |  Description

            div.panel-body
                ul
                    each value, key in api
                        section(class="navi-section")
                            h4= key
                            ul
                                each event in value
                                    li.eventnavi(data-rpc=`${event.rpc}`, title=`${event.desc}`)
                                        a(href=`${versions[0]}/${event.path}`, data-navigo)= event.name
                                        p= event.desc

    div.col-md-8(id="bundlecontent")!= changelog
