doctype html
html(lang="en")
  head
    title= "Oskari Map Application Platform"
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lily+Script+One")
    link(rel="stylesheet" type="text/css" href=assetFingerprint("/css/vendor/bootstrap.min.css"))
    link(rel="stylesheet" type="text/css" href=assetFingerprint("/css/vendor/bootstrap-theme.min.css"))
    link(rel="stylesheet" type="text/css" href=assetFingerprint("/css/main.min.css"))
    link(rel="stylesheet" type="text/css" href=assetFingerprint("/css/vendor/highlight-styles/monokai_sublime.css"))
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  body
    div.header
      div.nav-content
        div.oskari-logo
          <a href="/"><img src="/images/oskari_logo_white.png" height=65px>
        div.menu-icon
        include _navigation

    div.main
      div.main-content
        block main

    div.footer-content
      include _footer

    script(type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script(type="text/javascript" src=assetFingerprint("/js/vendor/bootstrap.min.js"))
    script(type="text/javascript" src=assetFingerprint("/js/vendor/stupidtable.min.js"))
    script(type="text/javascript" src=assetFingerprint("/js/vendor/highlight.min.js"))
    script(type="text/javascript" src=assetFingerprint("/js/main.min.js"))
